@page "/game/fifteen"
@using Games.Shared
@using Games.Shared.Fifteen

<PageTitle>Games</PageTitle>
<h3>fifteen</h3>

<button value="U" @onclick="() => game.Swap(Move.UP)">U</button>
<button value="D" @onclick="() => game.Swap(Move.DOWN)">D</button>
<button value="L" @onclick="() => game.Swap(Move.LEFT)">L</button>
<button value="R" @onclick="() => game.Swap(Move.RIGHT)">R</button>

<div>
    @for (int i = 0; i < game.DIMENSION_SIZE; i++)
    {
        <div>
        @for (int j = 0; j < game.DIMENSION_SIZE; j++)
        {
                <text>@game.Board[i,j].Number | </text>
        }
        </div>
    }
</div>

@code {
    [Parameter]
    public int Count { get; set; } = 16;
    [Parameter]
    public string Seed { get; set; } = "tesdfljfdjklskjftSEEDäÞêøÿõ6";
    Game game { get; set; }
}

@functions {
    protected override void OnInitialized()
    {
        game = new(4,Seed);
        base.OnInitialized();
    }
}
